In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [7]:
rentalDF = spark.read.csv('data/housing_1000.csv')

In [8]:
rentalDF.show()

+-----+----+------+
|  _c0| _c1|   _c2|
+-----+----+------+
|rooms|sqft| price|
|    4| 855| 35662|
|    5|1847| 71901|
|    3|2363| 90110|
|    5| 626| 27775|
|    5|1103| 42047|
|    2|2428| 94186|
|    3|1513| 57328|
|    3| 550| 24024|
|    3|1930| 75585|
|    5|2292| 86433|
|    4|2136| 81572|
|    3|2145| 82368|
|    5|2967|114722|
|    2|1705| 65356|
|    4|2354| 88461|
|    2|1066| 42810|
|    4|2918|112670|
|    5|1435| 54380|
|    1|2434| 91206|
+-----+----+------+
only showing top 20 rows

In [11]:
rentalDF = spark.read.csv('data/housing_1000.csv',header=True)

In [12]:
rentalDF.show()

+-----+----+------+
|rooms|sqft| price|
+-----+----+------+
|    4| 855| 35662|
|    5|1847| 71901|
|    3|2363| 90110|
|    5| 626| 27775|
|    5|1103| 42047|
|    2|2428| 94186|
|    3|1513| 57328|
|    3| 550| 24024|
|    3|1930| 75585|
|    5|2292| 86433|
|    4|2136| 81572|
|    3|2145| 82368|
|    5|2967|114722|
|    2|1705| 65356|
|    4|2354| 88461|
|    2|1066| 42810|
|    4|2918|112670|
|    5|1435| 54380|
|    1|2434| 91206|
|    4|1832| 69891|
+-----+----+------+
only showing top 20 rows

In [13]:
rentalDF.printSchema()

root
 |-- rooms: string (nullable = true)
 |-- sqft: string (nullable = true)
 |-- price: string (nullable = true)

In [14]:
rentalDF = spark.read.csv('data/housing_1000.csv',header=True,inferSchema=True)

In [15]:
rentalDF.printSchema()

root
 |-- rooms: integer (nullable = true)
 |-- sqft: integer (nullable = true)
 |-- price: integer (nullable = true)

In [18]:
rooms_rentalDF = rentalDF['rooms','price']

In [26]:
rooms_rentalDF.show()

+-----+------+
|rooms| price|
+-----+------+
|    4| 35662|
|    5| 71901|
|    3| 90110|
|    5| 27775|
|    5| 42047|
|    2| 94186|
|    3| 57328|
|    3| 24024|
|    3| 75585|
|    5| 86433|
|    4| 81572|
|    3| 82368|
|    5|114722|
|    2| 65356|
|    4| 88461|
|    2| 42810|
|    4|112670|
|    5| 54380|
|    1| 91206|
|    4| 69891|
+-----+------+
only showing top 20 rows

In [25]:
sqft_rentalDF = rentalDF['sqft','price']

In [27]:
sqft_rentalDF.show()

+----+------+
|sqft| price|
+----+------+
| 855| 35662|
|1847| 71901|
|2363| 90110|
| 626| 27775|
|1103| 42047|
|2428| 94186|
|1513| 57328|
| 550| 24024|
|1930| 75585|
|2292| 86433|
|2136| 81572|
|2145| 82368|
|2967|114722|
|1705| 65356|
|2354| 88461|
|1066| 42810|
|2918|112670|
|1435| 54380|
|2434| 91206|
|1832| 69891|
+----+------+
only showing top 20 rows