In [ ]:
# !pip install scikit-learn
# !pip install numpy

In [61]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [62]:
# load data
rentalPD = pd.read_csv('data/housing_1000.csv')

In [63]:
rentalPD.head(5)

   rooms  sqft  price
0      4   855  35662
1      5  1847  71901
2      3  2363  90110
3      5   626  27775
4      5  1103  42047

In [64]:
rentalPD.tail(10)

     rooms  sqft   price
990      2  2834  108550
991      3  1516   57318
992      4   810   33718
993      2   707   30706
994      5  2993  115289
995      2  1132   43148
996      1  2602   98669
997      1  1156   47329
998      4  1923   73608
999      3  2431   91592

In [65]:
#prepare the data
X = rentalPD[['rooms','sqft']].values  # features - rooms and sqft
y = rentalPD['price'].values           # label - price

In [66]:
# split for train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2)

In [67]:
# model training
model = LinearRegression().fit(X_train, y_train)

In [68]:
print("Coefficient from Trained Model", model.coef_)
print("Intercept from Trained Model", model.intercept_)

Coefficient from Trained Model [-20.52506169  36.90703913]
Intercept from Trained Model 3223.876736534483

In [73]:
# prediction for dataset
print("Actual Rental Price for rooms", X_test[0][0], "with sqft", X_test[0][1], "is", y_test[0])

Actual Rental Price for rooms 2 with sqft 2000 is 78229

In [70]:
predictedRental = model.predict(np.array([[X_test[0][0],X_test[0][1]]]))

In [71]:
print("Predicted Rental Price for rooms =", X_test[0][0], "with sqft", X_test[0][1], "is =", predictedRental)

Predicted Rental Price for rooms = 2 with sqft 2000 is = [76996.90487674]

In [72]:
print("Delta:", y_test[0] - predictedRental)

Delta: [1232.09512326]